# ignore the csv content of pridct, deepprime and shap folders
pridict/*.csv
deepprime/*.csv
deepprime-org/*.csv
shap/*.csv
conventional-ml/*.csv
shap/*.npy#
transformer/*.csv
deepprime-transformer-features/*.csv
ensemble/*.csv